---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <div class="about-container">
      <img
        src="/pictures/IMG_20230921_155205 (1).jpg"
        alt="Onur Kantarci"
        class="profile-pic"
      />
      <h1>About Me</h1>
      <div class="text-section">
        <p>
          Hello! I'm Onur Kantarci, a passionate and dedicated full-stack
          developer from Prizren, Kosovo. With a background in law and a
          self-taught journey into the world of web development, I have
          developed a diverse skill set that allows me to tackle complex
          projects with creativity and precision.
        </p>
        <p>
          My journey in tech began with a deep curiosity and drive to create
          impactful digital solutions. Over the past few years, I have honed my
          skills in various technologies, including Vue, React, HTML, CSS,
          JavaScript, TypeScript, and Python. My expertise extends to building
          robust backend systems with Express.js, managing databases with
          MongoDB and PostgreSQL, and containerizing applications with Docker
          for seamless deployment.
        </p>
        <p>
          I've had the privilege of learning from a senior full-stack developer
          and being mentored by my brother, which has significantly shaped my
          approach to development. I enjoy taking on freelance projects where I
          can apply my knowledge and continue to grow.
        </p>
        <p>
          Some of my notable projects include a comprehensive Vue-Express Docker
          setup, a Python-based task scheduling system, a secure Express.js
          application with DDoS protection, and a variety of web applications
          featuring authentication, data management, and real-time
          communication.
        </p>
      </div>
      <div class="skills">
        <h2 class="skills-title">Skills</h2>
        <ul>
          <li>Vue.js</li>
          <li>React</li>
          <li>HTML & CSS</li>
          <li>JavaScript & TypeScript</li>
          <li>Python</li>
          <li>Express.js</li>
          <li>MongoDB & PostgreSQL</li>
          <li>Docker</li>
          <li>REST API</li>
          <li>JSON WEB TOKEN</li>
          <li>WebSocket</li>
          <li>Bootstrap</li>
          <li>RabbitMQ</li>
          <li>IndexedDB</li>
        </ul>
      </div>
    </div>
  </section>
</Layout>

<style>
  .about-container {
    animation: fadeIn 500ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    padding: 20px 100px 20px 100px;
  }

  .profile-pic {
    border: 1px dashed grey;
    padding: 5px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
  }

  h1,
  h2 {
    padding: 20px 100px 20px 100px;
    border-radius: 10px;
    background-color: #161617;
    border: 1px dashed grey;
    width: 82%;
    text-align: center;
    color: #fff;
  }

  .text-section {
    padding: 20px 100px 20px 100px;
    border-radius: 10px;
    border: 1px dashed grey;
    background-color: #161617;
  }

  p,
  li {
    font-size: 1.1rem;
    color: #d5d3d3;
    margin-bottom: 20px;
  }

  .skills-title {
    padding: 20px 100px 20px 100px;
    border-radius: 10px;
    background-color: #161617;
    border: 1px dashed grey;
  }

  .skills {
    text-align: center;
    margin: 20px 0;
  }

  .skills ul {
    list-style: none;
    padding: 0;
    padding: 20px 100px 20px 100px;
    border-radius: 10px;
    background-color: #161617;
    border: 1px dashed grey;
  }

  .skills li {
    display: inline-block;
    margin: 0 10px;
  }

  .social-links {
    display: flex;
    gap: 20px;
    margin: 20px 0;
  }

  .social-links img {
    width: 40px;
    height: 40px;
  }

  .contact {
    text-align: center;
  }

  @media (max-width: 640px) {
    p {
      font-size: 15px;
    }
  }
</style>
