---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="contact">
    <div class="contact-container">
      <h2>Contact Me</h2>
      <form action="https://formspree.io/f/xldrgvgq" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email</label>
        <input type="email" id="email" name="_replyto" required />

        <label for="message">Message</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button type="submit">Send</button>
      </form>
    </div>
  </section>
</Layout>

<style>
  .contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 40%;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    height: 500px;
  }

  .contact form {
    display: flex;
    flex-direction: column;
  }

  .contact label {
    margin-top: 10px;
  }

  .contact input,
  .contact textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .contact button {
    margin-top: 15px;
    padding: 10px;
    background: #1c8151;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .contact button:hover {
    background: #4de7a6;
  }
</style>
