---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <span id="typing"></span>
    <div class="whole-container">
      <div class="index-main">
        <div class="name-flag">
          <h1 class="onur-fullname">ONUR KANTARCI.</h1>
          <a href="https://en.wikipedia.org/wiki/Kosovo">
            <img
              class="flag"
              src="public/pictures/Flag_of_Kosovo.svg"
              alt="flag"
            />
          </a>
        </div>
        <h4 class="email">onur.kantarci@hotmail.com</h4>
        <h2 class="index-title">
          A <span class="full-stack">FULL-STACK DEVELOPER 👨🏻‍💻</span> AND <span
            class="trainee-law">TRAINEE LAWYER ⚖️</span
          >
        </h2>
        <p>
          I'm Onur Kantarci, a full-stack developer and trainee lawyer with a
          passion for creating dynamic web applications. With two years of
          experience in <a href="/technologies" class="yellow-highlight"
            >most-used technologies,</a
          > I bring a unique blend of legal insight and technical skills to build
          innovative and impactful solutions.
        </p>
      </div>
    </div>
    <div class="resume-container">
      <a
        href="public/resume/Onur-Kantarci-Resume.pdf"
        download
        class="resume-download">Download Resume</a
      >
    </div>
  </section>
</Layout>

<script>
  const words = ["innovative", "impactful", "dynamic"];
  let i = 0;
  let timer;

  function typingEffect() {
    let word = words[i].split("");
    const typingElement = document.getElementById("typing");

    if (!typingElement) return;

    var loopTyping = function () {
      if (word.length > 0) {
        typingElement.innerHTML += word.shift();
      } else {
        deletingEffect();
        return false;
      }
      timer = setTimeout(loopTyping, 150);
    };
    loopTyping();
  }

  function deletingEffect() {
    let word = words[i].split("");
    const typingElement = document.getElementById("typing");

    if (!typingElement) return;

    var loopDeleting = function () {
      if (word.length > 0) {
        word.pop();
        typingElement.innerHTML = word.join("");
      } else {
        if (words.length > i + 1) {
          i++;
        } else {
          i = 0;
        }
        typingEffect();
        return false;
      }
      timer = setTimeout(loopDeleting, 100);
    };
    loopDeleting();
  }

  typingEffect();
</script>

<style>
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #typing::after {
    content: "|";
    animation: blink 1s infinite;
  }

  .index-main {
    animation: fadeInUp 0.5s ease-in-out;
  }

  h1,
  p {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
  }

  .email {
    color: #2ac670;
    margin-bottom: 60px;
  }

  .onur-fullname {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .index-title {
    color: #eed9f9;
    display: flex;
    align-items: center;
    gap: 18px;
    font-weight: 600;
  }

  p {
    font-size: 34px;
    color: #a7a7a8;
    font-weight: 400;
    line-height: 1.4;
  }

  .whole-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50%;
    margin-top: 60px;
  }
  .name-flag {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .flag {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-top: 40px;
  }
  .flag:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px #102a8875;
  }
  #typing {
    color: #fff;
    font-weight: bold;
    position: fixed;
    font-size: 50px;
    left: 0;
    margin-left: 110px;
    top: 60%;
    transform: translateY(-50%) rotate(270deg);
    transform-origin: left center;
  }
  .resume-container {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1;
  }
  .resume-download {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: inline-block;
    padding: 14px 24px;
    background-color: #161617;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.06),
      rgba(255, 255, 255, 0)
    );
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    transition: background 0.3s;
  }
  .resume-download:hover {
    background: #2ac670;
    color: black;
  }
  .index-main {
    animation: fadeIn 500ms ease-in-out;
  }
  .full-stack {
    border: 2px dashed #2d2d30;
    color: #2ac670;
    background-color: #1f1f21;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
  }

  .trainee-law {
    color: #e65f3f;
    border: 2px dashed #2d2d30;
    background-color: #1f1f21;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
  }

  .yellow-highlight {
    color: #f2f2f2;
    border-radius: 10px;
  }
  .yellow-highlight:hover {
    color: #2ac670;
  }
</style>
