---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="projects">
    <h2 class="projects-title">Projects</h2>
    <div class="project-grid">
      <a
        href="https://onurk.dev/spotify-clone/"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Spotify Clone</h3>
          <p>
            Developed a Spotify UI clone using only HTML and CSS, replicating
            the layout, design elements, and visual aesthetics of the original
            platform.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/quote-frontend"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Quote Generator - Frontend</h3>
          <p>
            A full-stack Quote Generator application built with Java, Spring
            Boot on the backend, paired with Vue.js and TypeScript on the
            frontend. It allows users to create, search, edit, and delete
            quotes, featuring pagination and an intuitive user interface.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/quote_proj"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Quote Generator - Backend</h3>
          <p>
            A full-stack Quote Generator application built with Java, Spring
            Boot on the backend, paired with Vue.js and TypeScript on the
            frontend. It allows users to create, search, edit, and delete
            quotes, featuring pagination and an intuitive user interface.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/mp3-maven"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>MP3-Metadata-Maven</h3>
          <p>
            A Maven-based Java project that extracts and displays metadata from
            MP3 files using the mp3agic library. This tool provides a simple and
            efficient way to analyze and view information such as artist, album,
            title, and more.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/crypto-price-track"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Crypto-Price-Track-Angular</h3>
          <p>
            A web application built with Angular and SCSS for tracking real-time
            cryptocurrency prices. It features live updates, detailed charts,
            and market trends, providing users with the latest information on
            various cryptocurrencies.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/product-management-angular"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Product-Management-Angular</h3>
          <p>
            This project is a full-stack web application that allows users to
            add, delete, and edit products. It consists of a frontend built with
            Angular and SCSS, and a backend built with Express.js.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/python-task-scheduling"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Python-Task-Scheduling</h3>
          <p>
            This project streamlines backend task scheduling and management with
            Python. Using Celery for distributed task queuing and RabbitMQ as
            the message broker, it ensures reliable asynchronous task execution.
            Docker containerizes the application for consistent and reproducible
            deployment.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/money-tracker-app"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Money Tracker</h3>
          <p>
            Track your finances effortlessly with Vue.js and TypeScript.
            Dexie.js ensures private, backend-free data storage. The
            user-friendly interface simplifies managing income and expenses.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/watchup"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>WatchUp</h3>
          <p>
            App for discovering trending movies and managing your personal
            watchlist. Developed using TMDB API and React.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/expressjs-jwt-auth"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>API with JWT Authentication (Express.js)</h3>
          <p>
            This project uses Express.js with JWT for authentication. Verified
            users receive a token to access protected parts of the app without
            repeatedly logging in. Users can log in and out, with logging out
            invalidating the token to ensure security.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/chatapp-websocket-fullstack"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Chat App (Websocket - Socket.IO)</h3>
          <p>
            A dynamic chat application seamlessly integrating WebSocket
            technology with the power and flexibility of Vue.js.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/express-ddos-protection"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Express-DDOS-Protection</h3>
          <p>
            A secure web application using Express.js, implementing Helmet for
            enhanced security headers, rate limiting to mitigate potential DDoS
            attacks, and IP filtering for access control.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/file-upload-fullstack"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>File Upload Full Stack (MongoDB - Mongoose)</h3>
          <p>
            This project is a file upload service built using Node.js with
            Express. It provides functionality for users to upload image files
            (PNG, JPEG, JPG, GIF) to a MongoDB database.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/jwt-full-stack"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Full-stack Web App with JWT Authentication</h3>
          <p>
            JWT Authentication Mono Repo Project provides secure user
            authentication with frontend and backend components in a single
            repository. It uses JSON Web Tokens (JWT) to ensure data privacy and
            integrity.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/python-qr"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Python-QR</h3>
          <p>
            A Python-based QR code generator that converts text, image or vcards
            into QR codes, enabling easy data sharing and quick access through
            scanning.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/image-resizing"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Image Resizing (MongoDB - Mongoose)</h3>
          <p>
            This Node.js app uses Express for image uploads, Sharp for resizing,
            and MongoDB for metadata storage. Users can upload images with
            specified dimensions, list all images, and download images by ID.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/expressjs-mongodb-vuejs"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Note App (MongoDB - Mongoose)</h3>
          <p>
            A note-taking application built with a backend and a frontend.
            Utilizing MongoDB and Mongoose for robust data management,
            Express.js for a flexible and efficient server, and Vue.js for a
            dynamic and user-friendly interface.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/expressjs-postgresql-vuejs"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Note App (PostgreSQL - Sequelize)</h3>
          <p>
            This web-based note-taking app uses Node.js, Express.js, PostgreSQL,
            Vue.js, and TypeScript. Users can create, edit, and delete notes,
            which are stored in a PostgreSQL database. It showcases full-stack
            development skills.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/OAuth"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>OAuth Login Using Google, Github (MongoDB - Mongoose)</h3>
          <p>
            Full-stack application with Google and GitHub OAuth authentication,
            using JWT, MongoDB, Express.js, and Passport.js for the backend, and
            Vite, Vue, and TypeScript for the frontend.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/python-url-shortener"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Python-URL-Shortener</h3>
          <p>
            This project is a Flask-based web application that allows users to
            generate short URLs from long ones. Built with Python, it provides a
            simple and efficient way to create and manage shortened links,
            making it easy to share and track URLs.
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/todolist-vue"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>TodoApp</h3>
          <p>
            App for creating todolist and managing current todos. Developed
            using Vite and Vue.js
          </p>
        </div>
      </a>
      <a
        href="https://github.com/onurkantarci/docker-project"
        class="project-card"
        target="_blank"
      >
        <div class="project-info">
          <h3>Vue-Express Docker Setup</h3>
          <p>
            A full-stack web app with a Vue.js frontend and an Express.js
            backend, both containerized using Docker for easy orchestration and
            seamless communication.
          </p>
        </div>
      </a>
    </div>
  </section>
</Layout>

<style>
  .projects {
    animation: fadeIn 500ms ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    font-size: 20px;
  }

  .projects-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .project-grid {
    display: grid;
    margin: 0 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }

  .project-card {
    background: #1e1e1f;
    border-radius: 8px;
    overflow: hidden;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  a {
    text-decoration: none;
  }

  .project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    );
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .project-card:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }

  .project-card:hover::before {
    opacity: 1;
  }

  .project-card img {
    border-bottom: 2px solid #2ac670;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 15px;
  }

  .project-info h3 {
    border-bottom: 1px solid #2ac670;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2ac670;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-info p {
    color: #ddd;
    line-height: 1.6;
    flex-grow: 1;
  }

  @media (max-width: 640px) {
    .projects {
      max-width: 100%;
    }

    .project-grid {
      margin: 0;
    }
  }
</style>
