---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <div class="technologies-container">
      <a href="https://html.com/">
        <img
          src="public/pictures/html-5-svgrepo-com.svg"
          alt="HTML5"
          class="tech-icon"
        />
      </a>
      <a href="https://www.w3.org/Style/CSS/Overview.en.html">
        <img
          src="public/pictures/css-3-svgrepo-com.svg"
          alt="CSS3"
          class="tech-icon"
        />
      </a>
      <a href="https://reactjs.org/">
        <img
          src="public/pictures/react-javascript-js-framework-facebook-svgrepo-com.svg"
          alt="React"
          class="tech-icon"
        />
      </a>
      <a href="https://vuejs.org/">
        <img
          src="public/pictures/vue-9-logo-svgrepo-com.svg"
          alt="Vue.js"
          class="tech-icon"
        />
      </a>
      <a href="https://angular.io/">
        <img
          src="public/pictures/angular-svgrepo-com.svg"
          alt="Angular"
          class="tech-icon"
        />
      </a>
      <a href="https://astro.build/">
        <img
          src="public/pictures/astro-svgrepo-com.svg"
          alt="Astro"
          class="tech-icon"
        />
      </a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
        <img
          src="public/pictures/javascript-svgrepo-com.svg"
          alt="JavaScript"
          class="tech-icon"
        />
      </a>
      <a href="https://www.typescriptlang.org/">
        <img
          src="public/pictures/typescript-official-svgrepo-com.svg"
          alt="TypeScript"
          class="tech-icon"
        />
      </a>
      <a href="https://www.docker.com/">
        <img
          src="public/pictures/docker-svgrepo-com.svg"
          alt="Docker"
          class="tech-icon"
        />
      </a>
      <a href="https://www.python.org/">
        <img
          src="public/pictures/python-svgrepo-com.svg"
          alt="Python"
          class="tech-icon"
        />
      </a>
      <a href="https://www.rabbitmq.com/">
        <img
          src="public/pictures/rabbitmq-svgrepo-com.svg"
          alt="RabbitMQ"
          class="tech-icon"
        />
      </a>
      <a href="https://www.postgresql.org/">
        <img
          src="public/pictures/postgresql-svgrepo-com.svg"
          alt="PostgreSQL"
          class="tech-icon"
        />
      </a>
      <a href="https://git-scm.com/">
        <img
          src="public/pictures/github-color-svgrepo-com.svg"
          alt="Git"
          class="tech-icon"
        />
      </a>
      <a href="https://getbootstrap.com/">
        <img
          src="public/pictures/bootstrap-svgrepo-com.svg"
          alt="Bootstrap"
          class="tech-icon"
        />
      </a>
      <a href="https://www.mongodb.com/">
        <img
          src="public/pictures/mongodb-svgrepo-com.svg"
          alt="MongoDB"
          class="tech-icon"
        />
      </a>
    </div>
  </section>
</Layout>

<style>
  .technologies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 40%;
    padding: 20px;
  }

  .tech-icon {
    border: 1px solid #2ac67041;
    background: #161617;
    padding: 20px;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
  }

  a {
    display: block;
  }
</style>
