---
const title = "Onur Kantarci";
const currentLocale = Astro.currentLocale;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul class="page-container">
          <li><a class="onurk" href="/">onurk.dev</a></li>
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/about/">About</a></li>
          <li><a class="nav-link" href="/projects/">Projects</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 Onur Kantarci</p>
      <a
        href="https://github.com/onurkantarci"
        target="_blank"
        class="social-icon github">GitHub</a
      >
      <a
        href="https://linkedin.com/in/onur-kantarci"
        target="_blank"
        class="social-icon linkedin">LinkedIn</a
      >
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const links = document.querySelectorAll(".nav-link");
        const currentPath = window.location.pathname;

        links.forEach((link) => {
          if (link.getAttribute("href") === currentPath) {
            link.classList.add("active");
          }
        });
      });
    </script>
  </body>
</html>

<style>
  .page-container {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    align-items: center;
    gap: 120px;
  }
  .onurk {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
  }
  .nav-link {
    color: #c0c0c0;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 300ms;
    padding: 5px 15px;
    text-decoration: none;
  }
  .nav-link:hover {
    color: #14723e;
  }
  .active {
    background-color: #2ac670;
    color: black;
  }
  #theme-toggle {
    background-color: #333;
    color: white;
    border: none;
    font-size: 30px;
  }
  #theme-toggle:hover {
    color: #000;
    cursor: pointer;
  }
  .social-media {
    margin: 40px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .social-icon {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
  }
  .social-icon.github:hover {
    background: #2ac670;
    color: #000000;
  }
  .social-icon.linkedin:hover {
    background: #2ac670;
    color: #000000;
  }

  @media (max-width: 640px) {
    .page-container {
      gap: 18px;
    }
  }
</style>
