---
const title = "Onur Kantarci";
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul class="page-container">
          <h1>The current URL pathname is: {Astro.url.pathname}</h1>
          <li><a class="onurk" href="/">onurk.dev</a></li>
          <li>
            <a class={currentPath === "/" ? "home active" : "home"} href="/"
              >Home</a
            >
          </li>
          <li>
            <a
              class={currentPath === "/about" ? "about active" : "about"}
              href="/about">About</a
            >
          </li>
          <li>
            <a
              class={currentPath === "/projects"
                ? "projects active"
                : "projects"}
              href="/projects">Projects</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 Onur Kantarci</p>
      <a
        href="https://github.com/onurkantarci"
        target="_blank"
        class="social-icon github">GitHub</a
      >
      <a
        href="https://linkedin.com/in/onur-kantarci"
        target="_blank"
        class="social-icon linkedin">LinkedIn</a
      >
    </footer>
  </body>
</html>

<style>
  .page-container {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    align-items: center;
    gap: 120px;
  }
  .onurk {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
  }
  .home,
  .about,
  .projects {
    color: #c0c0c0;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 300ms;
    padding: 5px 15px;
    text-decoration: none;
  }
  .home:hover,
  .about:hover,
  .projects:hover {
    color: #14723e;
  }
  .active {
    background-color: #2ac670;
    color: black;
  }
  #theme-toggle {
    background-color: #333;
    color: white;
    border: none;
    font-size: 30px;
  }
  #theme-toggle:hover {
    color: #000;
    cursor: pointer;
  }
  .social-media {
    margin: 40px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .social-icon {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
  }
  .social-icon.github:hover {
    background: #2ac670;
    color: #000000;
  }
  .social-icon.linkedin:hover {
    background: #2ac670;
    color: #000000;
  }

  @media (max-width: 640px) {
    .page-container {
      gap: 18px;
    }
  }
</style>
